/*
 blanco: #ffffff
 negro: #000000
 aliceblue: #f0f8ff
 purpura: #800080
 olive: #808000

*/

/* Reset de CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Patrick Hand", cursive; */
    font-family: "Lemonada", cursive;

}



/*body*/

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;

    }

/*body sections*/
/* 
.menu{
    text-align: end;
    padding: 15 px;
    text-underline-position: below;
    text-decoration-color: #800080 ;
} */






/*header*/

header{
    height: 10vh;
    background-color: #f0f8ff ;

    }

header h1 {
    text-align: center;
    font-size: 50px;

}

header ul li a{
    text-decoration: none;
    border: solid;
    border-color: #7D8471;
    border-radius: 50px;
    background-color: #7D8471;
    color: white;

}

.sobreNosotros img{
    align-items: center;
}

/* grid */
.grid-container {
    display: grid;
    /* grid-template-rows: 200px, 800px, 200px; */
    column-gap: 10px;
    row-gap: 0px;
    align-items: start;
    align-content: space-around;
    grid-template-areas:
    'header'
    'main'
    'footer';
}

.navbar {
    display: grid;
    flex-direction: column;
    align-items: center;
    background-color: #f0f8ff;
    color: #800080;
    padding: 10px;
}

.navbar a {
    padding: 10px;
    text-decoration: navy;
    text-align: end;
}

/* Navbar */

.navbar-collapse.show {
    z-index: 2000;
}
.navbar-toggler {
    z-index: 2000;
}

.navbar {
    --bs-bg-opacity: 0;

  }


.container {
    display: flex;
    width: 900px;
    flex-direction: column;
    margin-top: 20px;
}



.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    min-height: 300px;
    max-height: 400px;
  }





.lista-servicio{
    list-style-type:'✅';

  }


/*footer */

footer {
    background: #f0d1d1;
    height: 25vh;
    text-align: center;
    padding: 10px 0;


}


footer ul li {

    width: 300px;
    border-bottom-style: none;
    border-bottom-color: olive;

}


.imagen-footer {

    width:  30px;

}

footer ul li a span{
    text-decoration: none;
    color: #535352;
 

}


.row.g-5 {
    justify-content: center;
  }

.row.g-5 .col-md-12 {
    justify-content: center;
    height: 200%;
    padding-inline: 100px;
  }

.form-check{
    justify-content: end;
    margin-top: 80px;
    margin: 100px ;
    margin-bottom: 100px;
    padding: 10px;
  }

  button {
    justify-content: end;

  }

  
  /* .album .card-img-top {
    object-fit: cover; 
    height: 200px;
  }
  */

 .album .card {
    display: grid;
    grid-template-rows: auto 1fr auto; 
    height: auto;
  }
  

  /*cssCopiar código*/
  .button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.5s ease;
  }

  .button:hover {
    background-color: green;
  }

  .box {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 0.5s ease, background-color 1s ease;
  }

  .box:hover {
    width: 200px;
    background-color: blue;
  }


.ease-box {
  transition: transform 1s ease;
}

.linear-box {
  transition: transform 1s linear;
}

.ease-in-box {
  transition: transform 1s ease-in;
}

.ease-out-box {
  transition: transform 1s ease-out;
}

.ease-in-out-box {
  transition: transform 1s ease-in-out;
}

.box:hover {
  transform: translateX(100px);
}

cssCopiar código
.delay-box {
  transition: opacity 2s ease 1s;
  opacity: 1;
}

.delay-box:hover {
  opacity: 0;
}

